body{
    margin:0;padding:0;box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.prod{
    width: 50vw;
    height: 100vh;
}

.img_container{
    height: 70vh;
}

button{
    height: 30vh;
    width: 50vw;
}

.prod_1{
    background-color: aqua;
    
}

.prod_2{
    background-color: blueviolet;
}




