    <div class="nav" id="nav">
        <h1>This is Navigation Section from partials</h1>
        <img src="./images/netflix-logo.png" alt="" class="nav_logo">
        <img src="./images/netflix-avatar.png" alt="" class="nav_avatar">
    </div>
