<div class="nav">
    <div class="logo"><strong><i>FitBit</i></strong></div>
    <div class="nav_items">
        <div class="home items">Home</div>
        <div class="about items">About</div>
        <div class="products items">Products</div>
        <div class="contact items">Contact Us</div>
    </div>
    <div class="nav_login">
        <div class="name">Akshay</div>
        <button class="login">Log in</button>
    </div>
</div>